@import 'tailwindcss';

@theme{
    --color-title-primary: #8a7ae9;
    --color-subtitle-primary: cyan;
}

@layer base{
    body{
        background-color: #191919;
        color: white;
    }
    a{
        color: violet;
    }
    ul, ol{
        margin: auto;
        padding-inline: 40px;
        list-style: auto;
    }

    ul{
        list-style: disc;
    }
}
