<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="A personal logbook and blog about my journey, dreams, and ideas in computing. Follow along as I learn, experiment, and share insights on technology and programming.">
  <meta property="og:title" content="With the Heart of a Computer Wizard">
  <meta property="og:description" content="A personal logbook and blog about my journey, dreams, and ideas in computing. Follow along as I learn, experiment, and share insights on technology and programming.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/my-blog/assets/wizard.lulita.webp">
  <meta property="og:image:alt" content="A funny dog with clothes and typing on a computer">
  <meta property="og:url" content="https://shadowrunner11.github.io/my-blog/">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="With the Heart of a Computer Wizard">
  <meta name="twitter:description" content="A personal logbook and blog about my journey, dreams, and ideas in computing. Follow along as I learn, experiment, and share insights on technology and programming.">
  <meta name="twitter:image" content="/assets/wizard.lulita.webp">
  <meta name="twitter:image:alt" content="A funny dog with clothes and typing on a computer">
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/my-blog/main.css">
    <style>
        h1{
            color: var(--color-title-primary);
            font-size: 4rem;
            font-weight: bolder;
        }
        h2{
            color: var(--color-subtitle-primary);
            font-size: 2rem;
            margin-top: 16px;
        }
        p, pre{
            margin-top: 20px;
        }
    </style>
</head>
<body class="grid place-content-center">
    <main class="max-w-5xl p-5 md:p-10">
        {% block body %}
            {{ body | safe }}
        {% endblock %}
    </main>
</body>
</html>
